apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "wordpress.name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ include "wordpress.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  strategy:
    {{- if .Values.updateStrategy }}
    type: {{ .Values.updateStrategy }}
    {{- else }}
    type: {{ if eq .Values.persistence.accessMode "ReadWriteOnce" }}Recreate{{ else if eq .Values.persistence.accessMode "ReadWriteMany" }}RollingUpdate{{ else }}RollingUpdate{{ end }}
    {{- end }}
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "wordpress.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "wordpress.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      {{- $hasNodeAff := not (empty .Values.deployment.nodeAffinity) }}
      {{- if or $hasNodeAff .Values.deployment.preventSameNode }}
      {{- if $hasNodeAff }}
      tolerations:
        {{- range $key, $value := .Values.deployment.nodeAffinity }}
        - key: {{ $key | quote }}
          operator: "Equal"
          value: {{ $value | quote }}
          effect: "NoSchedule"
        {{- end }}
      {{- end }}
      affinity:
        {{- if $hasNodeAff }}
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              {{- range $key, $value := .Values.deployment.nodeAffinity }}
              - matchExpressions:
                - key: {{ $key | quote }}
                  operator: In
                  values:
                    - {{ $value | quote }}
              {{- end }}
        {{- end }}
        {{- if .Values.deployment.preventSameNode }}
        # 3) Anti-affinity to avoid to schedule on the same node
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - {{ include "wac.name" . | quote }}
                topologyKey: "kubernetes.io/hostname"
        {{- end }}
      {{- end }}

      {{- if .Values.preventRoot }}
      securityContext:
        fsGroup: {{ .Values.deployment.gid }}
        runAsUser: {{ .Values.deployment.uid }}
        runAsNonRoot: true
        fsGroupChangePolicy: {{ .Values.persistence.fsGroupChangePolicy | default "OnRootMismatch" }}
      {{- else if .Values.sftp.enabled }}
      {{/* SFTP needs root, WordPress container overrides with its own securityContext */}}
      securityContext:
        fsGroup: {{ .Values.deployment.gid }}
      {{- end }}
      containers:
        - name: wordpress
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          ports:
            - containerPort: {{ default 8080 .Values.deployment.port }}
              name: http
          {{- if .Values.preventRoot }}
          securityContext:
            runAsUser: {{ .Values.deployment.uid }}
            runAsGroup: {{ .Values.deployment.gid }}
            runAsNonRoot: true
            allowPrivilegeEscalation: false
          {{- end }}
          env:
            - name: WORDPRESS_DB_HOST
              value: {{ .Values.database.host }}
            - name: WORDPRESS_DB_PORT
              value: {{ .Values.database.port | quote }}
            - name: WORDPRESS_DB_USER
              value: {{ .Values.database.user }}
            - name: WORDPRESS_DB_NAME
              value: {{ .Values.database.name }}
            - name: WORDPRESS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.database.existingSecret }}
                  key: password
            - name: WORDPRESS_CONFIG_EXTRA
              {{- if .Values.wordpress.configExtraCM }}
              valueFrom:
                configMapKeyRef:
                  name: {{ .Values.wordpress.configExtraCM }}
                  key: {{ .Values.wordpress.configExtraKey | default "config-extra.php" }}
              {{- else }}
              value: |
                {{- if .Values.wordpress.memoryLimit }}
                define('WP_MEMORY_LIMIT', '{{ .Values.wordpress.memoryLimit }}');
                {{- end }}
              {{- end }}
            - name: WORDPRESS_URL
              value: {{ include "wordpress.url" . | quote }}
            - name: WORDPRESS_LOCALE
              value: {{ .Values.wordpress.locale | quote }}
            - name: WORDPRESS_TITLE
              value: {{ .Values.wordpress.title | quote }}
            - name: WORDPRESS_ADMIN_EMAIL
              value: {{ .Values.wordpress.adminEmail | quote }}
            - name: WORDPRESS_ADMIN_USER
              value: {{ .Values.wordpress.adminUser | quote }}
            - name: WORDPRESS_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ include "wordpress.secretName" . }}
                  key: password
          envFrom:
            - secretRef:
                name: {{ include "wordpress.name" . }}-salt-keys
            {{- range .Values.deployment.existingConfigMapsEnv }}
            - configMapRef:
                name: {{ . }}
            {{- end }}
            {{- range .Values.deployment.existingSecretsEnv }}
            - secretRef:
                name: {{ . }}
            {{- end }}
          volumeMounts:
            - name: wordpress-data
              {{- if eq .Values.persistence.accessMode "ReadWriteOnce" }}
              mountPath: /var/www/html
              {{- else if eq .Values.persistence.accessMode "ReadWriteMany" }}
              mountPath: /var/www/html/wp-content
              {{- end }}
            {{- if and .Values.wordpress.cacheHost .Values.wordpress.cachePort }}
            - mountPath: /docker-entrypoint-init.d
              name: custom-postinit
            {{- end }}
            {{- if .Values.wordpress.customIniCM }}
            - name: custom-ini
              mountPath: /usr/local/etc/php/conf.d/custom.ini
              subPath: custom.ini
            {{- end }}
            {{- if .Values.wordpress.customHtaccessCM }}
            - name: custom-htaccess
              mountPath: /etc/apache2/custom/custom-htaccess.conf
              subPath: htaccess.conf
            {{- end }}
        {{- if .Values.sftp.enabled }}
        - name: sftp
          image: "atmoz/sftp:{{ .Values.sftp.image.tag }}"
          securityContext:
            runAsUser: 0
            runAsNonRoot: false
          volumeMounts:
            {{- range .Values.sftp.users }}
            - name: wordpress-data
              mountPath: /home/{{ .username }}/data
            {{- end }}
            - name: sftp-config
              mountPath: /etc/sftp/users.conf
              subPath: users.conf
        {{- end }}
      volumes:
        - name: wordpress-data
          persistentVolumeClaim:
            claimName: {{ include "wordpress.name" . }}
        {{- if and .Values.wordpress.cacheHost .Values.wordpress.cachePort }}
        - name: custom-postinit
          configMap:
            name: {{ include "wordpress.name" . }}-postinit
            defaultMode: 0755
        {{- end }}
        {{- if .Values.wordpress.customIniCM }}
        - name: custom-ini
          configMap:
            name: {{ .Values.wordpress.customIniCM }}
            defaultMode: 0644
        {{- end }}
        {{- if .Values.sftp.enabled }}
        - name: sftp-config
          secret:
            secretName: {{ .Values.sftp.existingSecret | default (printf "%s-sftp" (include "wordpress.name" .)) }}
        {{- end }}
        {{- if .Values.wordpress.customHtaccessCM }}
        - name: custom-htaccess
          configMap:
            name: {{ .Values.wordpress.customHtaccessCM }}
        {{- end }}
      nodeSelector:
        {{- toYaml .Values.nodeSelector | nindent 8 }}
