{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "wordpress.name" . }}
  namespace: {{ .Release.Namespace }}
  annotations:
    {{- if .Values.ingress.customAnnotations }}
    {{- toYaml .Values.ingress.customAnnotations | nindent 4 }}
    {{- end }}
    alb.ingress.kubernetes.io/group.name: {{ .Values.ingress.groupName }}
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/success-codes: "200,301,302"
    alb.ingress.kubernetes.io/healthcheck-interval-seconds: '30'
    alb.ingress.kubernetes.io/unhealthy-threshold-count: '4' # 2 minutes
    alb.ingress.kubernetes.io/target-type: ip
    {{- if .Values.ingress.certificateArn }}
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/ssl-redirect: "443"
    {{- else }}
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}]'
    {{- end }}
    {{- if .Values.ingress.certificateArn }}
    alb.ingress.kubernetes.io/certificate-arn: {{ .Values.ingress.certificateArn }}
    {{- end }}
    {{/*  Add custom annotation if enableXmlrpc is not true  */}}
    {{- if not .Values.wordpress.security.enableXmlrpc }}
    alb.ingress.kubernetes.io/actions.deny-xmlrpc: >
      {"Type": "fixed-response", "FixedResponseConfig": {"ContentType": "text/plain", "StatusCode": "403", "MessageBody": "Forbidden"}}
    {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    {{- $root := . -}}
    {{- range .Values.ingress.hosts }}
    - host: {{ . | quote }}
      http:
        paths:
          {{- if not $root.Values.wordpress.security.enableXmlrpc }}
          - path: /xmlrpc.php
            pathType: Exact
            backend:
              service:
                name: deny-xmlrpc
                port:
                  name: use-annotation
          {{- end }}
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "wordpress.name" $ }}
                port:
                  number: 80
          {{- end }}
    {{- end }}
