{{- if and .Values.sftp.enabled (not .Values.sftp.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "wordpress.name" . }}-sftp
  namespace: {{ .Release.Namespace | quote }}
type: Opaque
stringData:
  users.conf: |-
    {{- range .Values.sftp.users }}
    {{ .username }}:{{ .password }}:e:{{ .uid }}:{{ .gid }}:data
    {{- end }}
{{- end }}